<nav>
  <h1>AI BL0G</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Hi, I'm <a href="mailto:nkkostadinov@gmail.com" target="_top">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>I am passionate about <a href="https://twitter.com/search?q=%23AI&src=typd" target="_blank">#AI</a> and <a href="https://twitter.com/search?q=%23MachineLearning&src=typd" target="_blank">#MachineLearning</a>, always looking for new and exciting projects. Feel free to <a href="mailto:nkkostadinov@gmail.com" target="_top">contact me</a> or find<a href="https://www.kaggle.com/freeman89" target="_blank">me on kaggle</a>.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
